<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--name space 中填写 mapper 的包路径-->
<mapper namespace="com.mybatis.cn.base_mybatis.mapper.UserMapper">
    <!--插入标签 不用写分号-->
    <insert id="saveUser" parameterType="com.mybatis.cn.base_mybatis.User">
        INSERT INTO springuser VALUES (null,#{account},#{pwd},#{name})
    </insert>
</mapper>
